.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;
}
.productItem{
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid coral;
  border-radius: 4px;
  padding: 4px;
}
.image{
  width: 100px;
  height: auto;
  display: inline;
  justify-content: center;
  padding: 30px;
}
.counter{
  display: flex;
  gap: 4px
}
.icon{
  height: 32px;
  width: 24px;
}

.relative {
  position: relative;
}

.customModal {
  top: 0;
  position: absolute;
  border: 2px solid green;
  background: cadetblue;
}
